<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Projects</title>
    <link href="{% static 'coreapp/css/issues.css' %}" type="text/css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
    function getIssueCode() {
        $.ajax({
            url:'/api/issues_code/',
            type:'POST',
            data:{project_name:'{{project_name}}'},
            success: function(data) {
                $.each(data, function(index, element) {
                        var display_txt = element.code;
                        var re = new RegExp('\n', 'g');
                        display_txt = display_txt.replace(re, '</br>');
                        document.getElementById(element.key).innerHTML=display_txt;                        
                    var display_txt = element.code;
                    var re = new RegExp('\n', 'g');
                    display_txt = display_txt.replace(re, '</br>');
                    document.getElementById(element.key).innerHTML=display_txt;
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
            }
        });
      }
    </script>
</head>
<body onload="getIssueCode()">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/projectlist/">Projects</a>
            </div>
            <a class="pull-right navbar-brand" href="/logout/">Logout</a>
            <a class="pull-right navbar-brand" >{{username}}</a>
        </nav>
        <div class="container">
            <ul class="list-group">
                {% for file_name in file_names%}
                    </br><h3><span class="glyphicon glyphicon-file"></span>{{file_name}}</h3>
                    {% for issue in issues %}
                        {% if file_name in issue.component %}                
                            <li class="list-group-item">
                                    {% if issue.severity == "MAJOR" %}
                                        <div class="heading_issue_major" style="background-color:red; color:white">
                                        <span class="glyphicon glyphicon-remove-circle">{{issue.severity}} {{issue.message}}</span> 
                                        </div>
                                    {% else %} 
                                        <div class="heading_issue_minor" style="background-color:#e5e500; color:white">
                                        <span class="glyphicon glyphicon-exclamation-sign">{{issue.severity}} {{issue.message}}</span>
                                        </div> 
                                    {% endif %}
                                    Status: {{issue.status}}, {{issue.debt}} debt</br>{% if issue.line %}Line No: {{issue.line}}<span class="pull-right glyphicon glyphicon-tags"> {{issue.tags.0}}</span></br><pre id="{{issue.key}}"></pre>{% endif %}
                            </li>              
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="footer">
            <p>Copyright (c) 2015</p>
        </div>
</body>
</html>