<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
    <meta charset="utf-8">
    <title>Auto Tool Login</title>
	<link href="{% static 'coreapp/css/login.css' %}" type="text/css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container"> 
    <div class="at-button-container">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location='https://github.com/login/oauth/authorize?scope=user:email&client_id={{client_id}}&client_secret={{client_secret}}'" type="button" class="btn btn-default btn-lg btn-block">Login with GitHub</button>
      <button type="button" class="btn btn-default btn-lg">Login with Bitbucket</button>
      <button type="button" class="btn btn-default btn-lg" onclick="window.location='/login/manual/'">Login with Google</button>
    </div>
  </div>  
</body>
</html>