
.container{
	margin-top: 40px;
	overflow: auto;
	min-height: 650px;
}

.container .btn{
    background-color: #6699dd;
    color: #ffffff;
}

.container-projects{
	padding: 5px;
}

.footer{
	height: 35px;
	background-color: black;
}