

body {
	margin: 0px;
	padding: 0px;
	color: #201c1b;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 { color: #ffffff; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.header_bar {
    width: 100%;
    height: 80px;
    background-color: black;
    vertical-align: middle;
}

.footer_bar {
    width: 100%;
    height: 20%;
    background-color: black;
}

#projects_title {
    vertical-align: middle;
    text-align: left;
}